
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Event Management</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <nav>
        <h1><a href="/">Event Management</a></h1>
        <ul>
          <li><a href="/events">All Events</a></li>
          <li><a href="/events/create">Create Event</a></li>
        </ul>
      </nav>
    </header>
    <main></main>
  </body>
</html>
